
.liDiv{
  list-style: none;
  width: 70px;
  text-align: center;
  margin-left: 15px;
  padding: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.liDiv:hover{
  padding: 8px;
  border: 1px solid black;
  border-radius: 20px;
  color: whitesmoke !important;
  background-color: thistle;
}