
.liDiv{
  list-style: none;
  margin-left: 15px;
  padding: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.liDiv:hover{
  padding: 8px;
  border: 1px solid black;
  border-radius: 15%;
  background-color: white;
}